<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" type="" href="/pc/css/bootstrap.min.css">
    <link rel="stylesheet" type="" href="/pc/css/bootstrapValidator.css">
</head>
<body>
<style type="text/css">
    .dialog{
        display: none
    }
</style>
<title>{$conf.web_name?$conf.web_name:''}</title>
<link rel="stylesheet" href="/pc/css/5ea401.css">
<!-- ======= Header ======= -->
<header id="header" class=" bgMainDark">
    <div class=" logoNavWrap d-flex align-items-center flex align-items justify-between">
        <h1 class="logo mr-auto ml">
            <a href="javascript:viod(0)" class="forJsClick" data-url="{:url('/home/index/home')}">
                <img alt="logo" src="{$conf['web_logo']}">
            </a>
        </h1>
        {include file="nav" /}
    </div>
</header><!-- End Header -->
<main class="main">
    <!-- ======= banner ======= -->
    <section class="banner bgMainDark">
        <h1 class="fontPanel flex justify-center ">{$conf.web_name?$conf.web_name:''}</h1>
        <div class="flex imgWrap justify-center">
            {foreach name="gallery" item="vo"}
            <a href="javascript:void(0)" alt="" title="">
                <img alt="" src="{$vo.img}" height="185"/>
            </a>
            {/foreach}
        </div>
    </section><!-- banner结束 -->
    <!-- ======= marquee ======= -->
    <section class="marquee  ">
        <div class="container">
            <i class="iconfont fontMain icon-gonggao"></i>
            <marquee>
                <p>{$notices[0]['content']}<br></p>
            </marquee>
        </div>
    </section>
    <!-- marquee结束 -->
    <!-- ======= table ======= -->
    <section class="mTable  ">
        <div class="container">
            <table class="table table-hover font18">
                <thead>
                <tr class="pt pb">
                    <th>名称</th>
                    <th>状态</th>
                    <th>最高价</th>
                    <th>最低价</th>
                    <th>最新价</th>
                </tr>
                </thead>
                <tbody>
                {volist name="pro" id="vo" key='k'}
                <tr data-url="{:url('/home/goods/goods',['pid'=>$vo['pid']])}" data-status="0" class="pt pb forJsClick2 hoverPointer procode_{$vo['pid']}" >
                    <td class="flex align-items">
                        <img src="{$vo['img']}" class="tlogo" />
                        {$vo['Name']}
                    </td>
                    {if condition="$vo.isopen eq 1"}
                    <td class="fontSuccess procode_status_name_{$vo['pid']}" >交易中</td>
                    {else /}
                    <td class="fontSuccess procode_status_name_{$vo['pid']}" >休市</td>
                    {/if}
                    <td class="procode_high_{$vo['pid']}">{$vo['High']}</td>
                    <td class="procode_low_{$vo['pid']}">{$vo['Low']}</td>
                    <td  data-price="{$vo['Price']}" class="procode_price_{$vo['pid']}">{$vo['Price']}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </section>
    <!-- table结束 -->
</main><!-- End #main -->
<div data-url="{$conf['sys_kefu']}"  class="kefu hoverPointer forJsClick003 bgUseable" >
    <span><i class="iconfont icon-kefu fontPanel" ></i></span>
    <span class="fontPanel" id="zaixian" >在线客服</span>
</div>

<div class="dialog {$hide ? 'hidden' : 'show'}">
    <div class="mark"></div>
    <div class="dialogBox ">
        <div class="flex  pa titleWrap">
            <div class="box font18" id="dialogTitle">{$notices[0]['title']}</div>
            <span id="dialogClose"> X</span>
        </div>
        <div class="mcontent pa" id="mcontent">{:nl2br($notices[0]['content'])}</div>
        <div class="btnWrap" >
            <button id="dialogColseSure" class="btn ripple btn-primary">确定</button>
        </div>
    </div>
</div>

<script src="/pc/js/jquery.min.js"></script>
<script src="/pc/js/layer/layer.js"></script>
<script src="/pc/js/bootstrap.min.js"></script>
<script>
    var _index_url = "{:url('/home/index/ajaxdata')}";
    //链接 点击2
    $('.forJsClick2').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var url = $(this).data('url'), _status = $(this).attr('data-status');
        if(_status == 1){
            return showError('产品处于休市中不能交易')
        }
        if (url) {
            setTimeout(function () {
                window.location.href = url;
            }, 300)
        }
    })
    function closeDialog() {
        $.post("{:url('home/index/hide')}");
        $('#dialogTitle').html('');
        $('#mcontent').html('');
        $('.dialog').removeClass('show').addClass('hidden')
    }
    $('#dialogColseSure').on('click', function () {
        closeDialog()
    });
    $('.mark').on('click', function () {
        closeDialog()
    });
    $('.mark').on('wheel', function (e) {
        e.stopPropagation();
        e.preventDefault();
        return false

    });
    $('#dialogClose').on('click', function () {
        closeDialog()
    });
</script>
<script src="/pc/js/fde4e3.js"></script>
<script src="/pc/js/42f698.js"></script>
</body>
</html>
