<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html>
    <head>
        
        <title>支付</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<!--        <div>[支付]</div>     -->
<!--        <p>请打款到卡号：6212264000051890362 </p>
        <p>开户行：中国工商银行</p>
        <p>用户名：曾纪栋</p>
        <p>支付完成请添加客服人员微信：xxxxxxxx</p>
        <p>二维码：</p>-->
        <div>
            <img style="width:100%;" id="picture_look" src="/public/uploads/zhifu/{$money}.jpg" />
        </div>
        <div style="text-align:center;margin:0px auto">
        <p>请截图保存该图片到微信，用微信进行长按进行付款，付款成功后5分钟内未到帐，请联系对应客服。</p>
        <input type="button"  value="返  回" onclick="javascrtpt:window.location.href='../../index/user/index'">
         </div>
    </body>
</html>
