<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" type="" href="/pc/css/bootstrap.min.css">
    <link rel="stylesheet" type="" href="/pc/css/bootstrapValidator.css">
</head>
<body>
<style type="text/css">
    .dialog{
        display: none
    }
</style>
<script>
    var _online_url = "/mberem/oledab.html", _acc_data_url = "/mberem/index.html";
</script>
<title>交易明细</title>
<link rel="stylesheet" href="/pc/css/7a64b6.css">
<link rel="stylesheet" href="/pc/css/bootstrap-table.min.css">
<header id="header" class=" bgMainDark">
    <div class=" logoNavWrap d-flex align-items-center flex align-items justify-between">
        <h1 class="logo mr-auto ml">
            <a href="javascript:viod(0)"  class="forJsClick" data-url="/home/index/home">
                <img alt="logo" src="{$conf['web_logo']}" />
            </a></h1>
        {include file="nav" /}
    </div>
</header><!-- End Header -->
<main class="main">
    <div class="container">
        <h3 class="hoverMainColor" >历史记录 </h3>
        <!-- ======= table ======= -->
        <table class="table-responsive " id="table"></table>
        <!-- table结束 -->
    </div>
</main><!-- End #main -->
<div data-url="{$conf['sys_kefu']}"  class="kefu hoverPointer forJsClick003 bgUseable" >
    <span><i class="iconfont icon-kefu fontPanel" ></i></span>
    &nbsp;&nbsp;&nbsp;<span class="fontPanel" id="zaixian" >在线客服</span>
</div>
<script src="/pc/js/jquery.min.js"></script>
<script src="/pc/js/layer/layer.js"></script>
<script src="/pc/js/bootstrap.min.js"></script>
<script src="/pc/js/bootstrap-table.min.js"></script>
<script src="/pc/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/pc/js/base64.js"></script>
<script>
    var   _record_url = "{:url('/home/order/orderlist')}";
</script>
<script src="/pc/js/fde4e3.js"></script>
<script src="/pc/js/4c5642.js?v=1.0"></script>
</body>
</html>
