{include file="comhead" /}

<style type="text/css">
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}
</style>

<body style="position: absolute; width: 100%; height: 100%; top:0; left:0; padding-bottom: 10px">

        <iframe src="https://kefu.tengmaiwang.top/index/index/home?visiter_id=&visiter_name=&avatar=&business_id=17&groupid=0&special=21&theme=7571f9" marginwidth="0" marginheight="0" height="90%" width="90%" scrolling="no" border="0" frameborder="0"></iframe>
<div id="app">
    <div class="box">
          <!-- 底部固定栏 -->
        {include file="footer" /}
    </div>
</div>

</body>
</html>