<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>支付</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>[支付]</div>     
        <p>请打款到卡号：6212264000051890362 </p>
        <p>开户行：中国工商银行</p>
        <p>用户名：曾纪栋</p>
        <p>支付完成请添加客服人员微信：xxxxxxxx</p>
        <p>二维码：</p>
        <div><img id="picture_look" src="/public/uploads/zhifu.jpg" /></div>
         
    </body>
</html>
