<div class="footer flex bgMainActive align-items pa">
    <!-- data-url 传入跳转的地址 -->
    <div data-url="{:url('/apk/index/home')}" class="ripple footerItem forJsClick item box flex column align-items ">
        <i class="iconfont   icon-shouye"></i>
        <div>首页</div>
    </div>
    <div data-url="{:url('/apk/index/pay')}" class="ripple footerItem forJsClick item box flex column align-items ">
        <i class="iconfont   icon-money"></i>
        <div>充值</div>
    </div>
    <div data-url="{$conf['sys_kefu']}" class="ripple footerItem forJsClick item box flex column align-items ">
        <i class="iconfont icon-zaixiankefu  "></i>
        <div>客服</div>
    </div>
    <div data-url="{:url('/apk/order/hold')}" class="ripple footerItem forJsClick item box flex column align-items ">
        <i class="iconfont   icon-zixun"></i>
        <div>订单</div>
    </div>
    <div data-url="{:url('/apk/index/member')}" class="ripple footerItem forJsClick item box flex column align-items ">
        <i class="iconfont   icon-wode"></i>
        <div>账户</div>
    </div>
</div>
